[Desktop Entry]
Type=Application
Name=Shutdown
GenericName=Power Option
Comment=Shut down the computer
Icon=system-shutdown
TryExec=loginctl
Exec=loginctl shutdown
Terminal=false
Categories=Power
